/* .grid-cell {
    border: 1px solid #eee;
    box-shadow: 1px 5px 5px #eee;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px 0;
}

.grid-header {
    margin: 0 2rem;
    font-size: large;
    font-weight: 700;
} */


/* :root {
    --main-radius: 5px;
    --main-padding: 5px;
    --main
} */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
}

.containerDash {
    display: grid;
    height: 150vh;
    width: 100wh;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr 0.5fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr minmax(220px, 320px) 1fr minmax(300px, 320px);
    grid-template-areas: "nav nav nav nav nav nav"/*Nav */
    "content1 content1 content1 main main main"/*Content 4    Map */
    "sidebar content2 content3 main main main"/*Content 4    Map */
    "sidebar content2 content3 main main main"/*Content 4    Map */
    "sidebar content4 content4 content5 content5 content5"/*Sidebar  ListSelector    Map */
    "sidebar content8 content8 content5 content5 content5"/*Content 4    Map */
    "sidebar content7 content7 content6 content6 content6"/*Content 4    Map */
    ;
    grid-gap: 0.2rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    color: #004d40;
    text-align: center;
    padding: 10px;
    margin: 5px;
}

.navDash {
    background: #a7ffeb;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.mainDash {
    grid-area: main;
    height: 100%;
}

.sidebarDash {
    background: #18ffff;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.content1 {
    background: #6fffd2;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.content2 {
    background: 'red';
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.content3 {
    background: #19cf22;
    grid-area: content3;
    border-radius: var(--main-radius);
}

.content4 {
    grid-area: content4;
    height: '100%';
    overflow: auto;
    line-height: '300px';
    border-radius: var(--main-radius);
}

.content5 {
    background: #73ffba;
    grid-area: content5;
    border-radius: var(--main-radius);
}

.content6 {
    background: #80121b;
    grid-area: content6;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.content7 {
    background: #80121b;
    grid-area: content7;
    height: '100%';
    overflow: auto;
    line-height: '300px';
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

.content8 {
    background: #e78c93;
    grid-area: content8;
    height: '100%';
    overflow: auto;
    line-height: '300px';
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}

a {
    text-align: center;
    display: block;
    font-family: inherit;
    text-decoration: none;
    font-weight: bold;
    margin: 1rem;
}

@media all
/* @media only screen and (max-width: 550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: "nav" "sidebar" "main" "content1" "content2" "content3" "footer";
    } */


/* 



} */